@{
  Layout = "_Layout";
}

<h1 class="header">@Model.GetTitle() Has Been Added</h1>

<div class="container">
  <a href="/catalog/list" class="btn btn-default">View Updated Catalog</a>
  <a href="/" class="btn btn-default">Go Home</a>
</div>
