@{
  Layout = "_Layout";
}

<body id="patron-detail">
  <h1 class="header">@Model["patron"].GetName() Currently Checked Out Books:</h1>

  <div class="container">

      <ul>
        @foreach (var copy in Model["copies"])
        {
          <div class="well">
            <li><strong>Title:</strong> @copy.GetTitle()</li>
            @if (@copy.GetDueDate() == new DateTime(0001, 1, 1))
            {
              <p><strong>Due Date:</strong> Returned</p>
            }
            else
            {
              <p><strong>Due Date:</strong> @copy.GetDueDate()</p>
              <a href='/patron/details/@copy.GetId()/return/@Model["patron"].GetId()'><button type="button" class="btn btn-success">Return</button></a>
            }
          </div>
        }
      </ul>

    <a href='/catalog/list' class="btn btn-default">Back To Catalog</a>
    <a href="/" class="btn btn-default">Go Home</a>
  </div>

</body>
